<div class="wrapper" id="wrapper">
	<nav class="nav">
		<ul class="nav__ul container">
			<li class="nav__li">
				<a
					routerLinkActive="_activeLink"
					routerLink="/profile"
					class="nav__a"
				>
					<img
						alt="Profile Picture"
						class="avatar__img"
						[src]="us.thumb"
						height="50"
						width="50"
					/>
				</a>
			</li>
			<li class="nav__li">
				<a
					routerLinkActive="_activeLink"
					(click)="us.setMode(us.mode === 'dark' ? 'white' : 'dark')"
					class="nav__a"
				>
					<span class="material-icons"
						>{{us.mode === 'dark' ? 'dark_mode' :
						'light_mode'}}</span
					>
				</a>
			</li>
			<li class="nav__li">
				<a
					routerLinkActive="_activeLink"
					routerLink="/books"
					class="nav__a"
				>
					<span class="material-icons">menu_book</span>
				</a>
			</li>
		</ul>
	</nav>

	<div class="main">
		<router-outlet></router-outlet>
	</div>
</div>
