@media print {
	body {
		margin: 3cm 1cm 3cm 1cm;
	}

	html,
	body {
		height: auto !important;
		overflow: visible !important;
	}

	.main {
		overflow: visible !important;
		height: auto !important;
	}

	* {
		break-inside: avoid;
		page-break-inside: avoid;
		color: black;
	}

	.page-break {
		page-break-after: always;
	}

	app-root,
	.main,
	#wrapper,
	.content,
	.scrollable {
		overflow: visible !important;
		height: auto !important;
		max-height: none !important;
		position: static !important;
	}
}
