@if (book && sections.length) { @for (section of sections; track $index) {
<section>
	<app-code
		*ngIf="(section.template || book.template) === 'code'"
		[section]="section" class="app-code"
	></app-code>

	<app-html
		*ngIf="(section.template || book.template) === 'html'"
		[section]="section"
	></app-html>

	<app-content
		*ngIf="(section.template || book.template) === 'content'"
		[section]="section"
	></app-content>

	<app-codes
		*ngIf="(section.template || book.template) === 'codes'"
		[section]="section"
	></app-codes>
</section>
} }